%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Due date:
  = @task.due_date
%p
  %b Category:
  = @task.category

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
