%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Due date:
  = @task.due_date
%p
  %b Category:
  = @task.category


.notes-container
  .notes
    - @task.notes.each do |note|
      = render 'tasks/notes/note.html.haml', note: note

  = simple_form_for Note.new, url: task_notes_path(task_id: @task.id), remote: true do |f|
    = f.input :body, label: false, as: :string, placeholder: 'Digite su nota', input_html: { autocomplete: :off }
= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
